<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro Exitoso</title>
  <div th:include="navbar :: head (titulo='Registro Exitoso')"></div>
  <link rel="stylesheet" th:href="@{/css/custom/global/global.css}">
  <link rel="stylesheet" th:href="@{/css/custom/admin_user/registro-centro-medico-form.css}">

  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/lucide@latest"></script>

</head>
<body>
<div th:replace="navbar::menuBar"></div>
<div class="page-container">
  <div class="form-container">
    <h1 class="form-title">Registro Completado</h1>
    <p class="form-description" th:text="${mensaje}">Mensaje de exito</p>
    <a class="back-link" th:href="@{/api/admin/registro-centro-medico}">Volver</a>
  </div>
</div>
<div th:replace="navbar::javascript"></div>

<div th:replace="footer :: footer"></div>

<script>
  lucide.createIcons();
</script>
</body>
</html>
